hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.badge {
    border: 1px solid #000000;
}

.badge-p0 {
    background-color: #ffffff;
}

.badge-p1 {
    background-color: #ffdfd4;
}

.badge-p2 {
    background-color: #ffbfaa;
}

.badge-p3 {
    background-color: #ff9e81;
}

.badge-p4 {
    background-color: #ff7b5a;
}

.badge-p5 {
    background-color: #ff5232;
}

.badge-p6 {
    background-color: #ff0000;
}